<div class="article-buttons">
  <a id="whatsapp-share" href="javascript:void(0);" onclick="shareArticle('whatsapp');" target="_blank">
    <i class="fa-brands fa-square-whatsapp m-2 fa-2xl" style="color: #25D366;"></i>
  <a id="facebook-share" href="javascript:void(0);" onclick="shareArticle('facebook');" target="_blank">
    <i class="fa-brands fa-square-facebook m-2 fa-2xl" style="color: #1877F2;"></i>
  </a>
  <a id="twitter-share" href="javascript:void(0);" onclick="shareArticle('twitter');" target="_blank">
    <i class="fa-brands fa-square-twitter m-2 fa-2xl" style="color: #1DA1F2;"></i>
  </a>
</div>
