    <div id="articlestop">
      <h2>The Golden Times</h2>
      <p>The newest Pokemon stories straight from Johto</p>
       <%= image_tag "hohoho.png", class: "hooh" %>


    </div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand p-2 m-2" href="index" style="background-color: gold;">The Golden Times</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0"> <!-- mx-auto for centering -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="index">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="pokequiz">PokeQuiz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="tracker">Pokemon Tracker</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="staff">Our Staff</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link donate-button" href="https://www.paypal.com/donate/?hosted_button_id=QCWFD79VTG9SY" target="_blank">Donate</a>
        </li>
              </ul>
      <div class="d-flex"> <!-- Flex container for icons -->
         <a class="p-1 m-1" href="https://www.instagram.com/goldenrod.city.news/" target="_blank"><i class="fa-brands fa-square-instagram fa-xl" style="color: #ff7575;"></i></a> <!-- Instagram icon -->
          <a class="p-1 m-1" href="https://www.twitch.tv/sprintosaurusrex" target="_blank"><i class="fa-brands fa-twitch fa-xl" style="color: #B197FC;"></i></a> <!-- Facebook icon -->
          <a class="p-1 m-1" href="https://www.facebook.com/profile.php?id=61558581625939" target="_blank"><i class="fa-brands fa-square-facebook fa-xl" style="color: #0487ec;"></i></a> <!-- Twitch icon -->
      </div>
    </div>
  </div>
</nav>
