<!-- _pokemon_sprites.html.erb -->
<div class="pokemon-container">
  <% (152..251).each do |index| %>
    <div class="pokemon-sprite">
      <%= image_tag "sprites/shiny/#{index}.png" %>
    </div>
    <% if index % 7 == 0 %>
      <div class="clear"></div>
    <% end %>
  <% end %>
</div>
