<!-- _pokemon_sprites.html.erb -->
<div class="pokemon-container">
  <% (252..386).each do |index| %>
    <div class="pokemon-sprite">
      <%= image_tag "sprites/rubysapphire/shiny/#{index}.png" %>
    </div>
    <% if index % 7 == 0 %>

    <% end %>
  <% end %>
</div>
