<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Page Navigation</title>
<link rel="stylesheet" type="text/css" href="/assets/styles.css">
</head>
<body>
<div id="articlestop">
  <%= image_tag "goldenrodcity.jpg", class: "article-imagetop" %>
</div>

<div id="articles">
    <div class="article">
      <div class="navbar">
        <a href="index">News</a>
        <a href="pokequiz">PokéQuiz</a>
        <a href="tracker">Pokémon Tracker</a>
        <a href="staff">Our Staff</a>
        <a href="#">About</a>
      </div>
        <div class="quiz-container">
       <h2>PokéQuiz</h2>
       <button id="restart-btn" style="display: none;">Restart</button>
      <button id="next-btn" style="display: none;">Next</button>
      <div id="result" style="display: none;"></div>


         <div id="question-container"></div>
            <h2 id="question"></h2><br>
            <div id="options"></div>
          </div>

      <button class="donate-button">Donate</button>
    </div>
    </div>






    </div>
  </div>
</div>
</body>
