<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Page Navigation</title>
<link rel="stylesheet" type="text/css" href="/assets/styles.css">
</head>
<body>
<div id="articlestop">
  <%= image_tag "goldenrodcity.jpg", class: "article-imagetop" %>
</div>

<div id="articles">
    <div class="articlequiz">
        <div class="navbar">
          <a href="index">News</a>
          <a href="pokequiz">PokéQuiz</a>
          <a href="tracker">Pokémon Tracker</a>
        <a href="staff">Our Staff</a>
        <a href="#">About</a>
      </div>
      <h2>PokéQuiz</h2>
      <p>Answer questions correctly in every town to proceed to the next one.<br>Choose carefully, if you make a mistake, you have to start over!</p>

      <div class="wrapper">
         <div class="left-column">
            <div class="left-square square13"></div>
            <div class="left-square square12"></div>
            <div class="left-square square11"></div>
            <div class="left-square square10"></div>
            <div class="left-square square9"></div>
            <div class="left-square square8"></div>
            <div class="left-square square7"></div>
            <div class="left-square square6"></div>
            <div class="left-square square5"></div>
            <div class="left-square square4"></div>
            <div class="left-square square3"></div>
            <div class="left-square square2"></div>
            <div class="left-square square1">Pallet Town</div>
         </div>
         <div class="quiz-container">
            <button id="next-btn" style="display: none;">Next</button>
              <!-- Added Next Level button -->
             <div id="result" style="display: none;"></div>
             <button id="next-level-btn" style="display: none;">Next Level</button>
             <button id="restart-btn" style="display: none;">Restart</button>
             <div id="question-container"></div>
               <h2 id="question"></h2>
               <div id="options"></div>
           </div>
         <div class="right-column">
            <div class="right-square square26"></div>
            <div class="right-square square25"></div>
            <div class="right-square square24"></div>
            <div class="right-square square23"></div>
            <div class="right-square square22"></div>
            <div class="right-square square21"></div>
            <div class="right-square square20"></div>
            <div class="right-square square19"></div>
            <div class="right-square square18"></div>
            <div class="right-square square17"></div>
            <div class="right-square square16"></div>
            <div class="right-square square15"></div>
            <div class="right-square square14"></div>
         </div>

       </div>
       <div class="bottom"></div>
    </div>
   </div>


</body>
