<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Page Navigation</title>
<link rel="stylesheet" type="text/css" href="/assets/styles.css">
</head>
<body>
<div id="articlestop">
  <%= image_tag "goldenrodcity.jpg", class: "article-imagetop" %>
  </div>

<div id="articles">
<div class="navbar">
    <a href="index">Home</a>
    <a href="#">Pokédex</a>
    <a href="tracker">Pokémon Tracker</a>
    <a href="staff">Our Staff</a>
    <a href="about">About</a>
</div>
<div class="article">

    <h2>Our staff</h2>
    <h3>Each member of the Golden Times News Station brings their unique skills, experiences, and love for Pokémon to deliver top-quality news coverage to the viewers.</h3>
    <p>Kevin Soriano

Role: Chief Editor
Hometown: Azalea Town
Favorite Pokémon: Aerodactyl</p>
    <p>Maya Stone

Role: Lead Reporter
Hometown: Lilycove City
Favorite Pokémon: Gardevoir</p>
    <p>Xander Frost

Role: Senior Correspondent
Hometown: Snowpoint City
Favorite Pokémon: Abomasnow</p>
    <p>Avery Brooks

Role: Investigative Journalist
Hometown: Goldenrod City
Favorite Pokémon: Houndoom</p>
    <p>Fiona Ocean

Role: Field Reporter
Hometown: Mossdeep City
Favorite Pokémon: Milotic</p>
    <p>Caleb Everest

Role: Cameraman
Hometown: Ever Grande City
Favorite Pokémon: Flygon</p>
    <p>Nora Swift

Role: Interviewer
Hometown: Ecruteak City
Favorite Pokémon: Umbreon</p>
    <p>Isaac Reed

Role: News Anchor
Hometown: Castelia City
Favorite Pokémon: Serperior</p>
    <p>Luna Skylark

Role: Weather Reporter
Hometown: Fortree City
Favorite Pokémon: Altaria</p>
    <p>Dexter Blaze

Role: Editor
Hometown: Lavaridge Town
Favorite Pokémon: Blaziken</p>

</div>
