      <div class="container">
        <div class="content3">
        <h2 class="mt-5 mb-5">Pokémon Tracker</h2>
        <p>The Pokémon Tracker for speedrunners is a user-friendly web page designed to assist players in tracking their progress in capturing Pokemon during speedruns. It features a grid layout displaying all Pokemon sprites, allowing players to easily visualize their collection. This intuitive design streamlines the tracking process, enabling speedrunners to efficiently manage their progress and optimize their gameplay strategies.</p>
        <h2 class="mt-3">INSTRUCTIONS:</h2>
         <br>
        <p><b>Step 1:</b> Click the Pokémon you want to track</p>
        <br>
        <p><b>Step 2:</b> Left click to remove a Pokémon from the box</p>
        <br>
        <p><b>Step 3:</b> Right click once to mark a Pokémon as planned</p>
        <br>
        <p><b>Step 4:</b> Right click twice to mark a Pokémon as caught</p>
        <br>
        <p><b>Step 5:</b> Right click thrice to unmark a Pokémon</p>
        <br>
         <div id="color-selector">
          <label for="background-color"><b>Step 6</b>: Click to pick a color:</label>
          <input type="color" id="background-color">
        </div>

        <div class="boxtop">
            <div id="counter-container">
                <p><span id="blue-counter"><b>0</b></span> Pokémon planned and
                <span id="pink-counter"><b>0</b></span> Pokémon caught</p>
            </div>
        </div>


        <div class="pokebox"></div>

        <h2>FireRed & LeafGreen</h2>
        <%= render partial: 'shared/pokemon_sprites_normal' %>
        <h2>FireRed & LeafGreen Shiny</h2>
        <%= render partial: 'shared/pokemon_sprites_shiny' %>
        <h2>Gold & Silver</h2>
        <%= render partial: 'shared/pokemon_sprites_normal2' %>
        <h2>Gold & Silver - Shiny</h2>
        <%= render partial: 'shared/pokemon_sprites_shiny2' %>


        <button class="donate-button">Donate</button>
    </div>
  </div>
</div>
