body {
  background-color: rgb(255, 255, 255);
  margin: 0;
}


#articlestop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;


   /* Enable vertical scrolling when content overflows */
}

.article {
  color: rgb(6, 6, 13);
  border-left: 4px solid rgb(47, 189, 237);
  border-right: 4px solid rgb(47, 189, 237);
  font-family: calibri;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(47, 189, 237);
}

.container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article-card {
  max-width: 750px;
  height: auto;
  margin-left: 50px;
  margin-right: 20px;
  display: flex;
  text-wrap: wrap;
  border: 1 px solid red;
}



.headline {
  color: rgb(6, 6, 13);
  font-family: calibri;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgb(47, 189, 237);
  border-bottom: 1px solid rgb(47, 189, 237);
  overflow: hidden;


}


h2 {
  color: rgb(22, 29, 68);
  font-size: 35px;
  margin-left: 20px;
  margin-right: 20px;
}

#pagination {
  margin-top: 20px;
  text-align: center;
}

#pagination a {
  margin: 0 5px;
  text-decoration: none;
  color: rgb(0, 166, 255);
}

#pagination a:hover {
  text-decoration: underline;
}

.article-buttons {
  margin-top: 20px; /* Adjust as needed */
  display: flex;
  justify-content: center;

}

.article-buttons button {
  margin: 0 10px; /* Adjust spacing between buttons as needed */
  padding: 10px 20px;
  background-color: rgb(47, 189, 237);/* Example background color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.article-buttons button:hover {
  background-color: #0056b3; /* Example background color on hover */
}


.article-image {
  float: left; /* Float the image to the left */
  margin: 20px;
  max-width: 100%;
}

.article-image2 {
  float: right; /* Float the image to the left */
  margin: 20px;
  max-width: 100%;
}

.article-imagetop {
  max-width: 100%;
}

.article-image3 {
  float: right; /* Float the image to the left */
  margin: 20px;
  max-width: 100%;
}

.article-image4 {
  float: left; /* Float the image to the left */
  margin: 20px;
  max-width: 100%;
}

nav {
  background-color: rgb(242, 180, 47);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top: 4px solid gold;
  border-bottom: 4px solid gold;
  margin: 0;

}

nav a {
  display: block;
  color: rgb(255, 255, 255);
  font-family: calibri;
  text-align: center;
  font-weight: bolder;
  background-color: gold;
  margin: 5px;
  padding: 14px 20px;
  text-decoration: none;
  border-radius: 10px;

}


nav a:hover {
  background-image: linear-gradient(to right, gold, orange);
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  padding-left: 1px;
}


.donate-button {
  padding: 15px 30px;
  margin: 20px;
  font-size: 20px;
  border: none;
  border-radius: 15px;
  background-color: #ffc107; /* Golden color */
  color: #fff; /* White text */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition effect */
}

.donate-button:hover {
  background-color: #ffecb3; /* Lighter golden color */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Golden glow effect */
}

.pokemon-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 3px solid rgb(47, 189, 237);
  border-bottom: 3px solid rgb(47, 189, 237);
  padding-bottom: 20px;
  padding-top: 20px;
}

.pokemon-containerRS {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 3px solid rgb(47, 189, 237);
  border-bottom: 3px solid rgb(47, 189, 237);
  padding-bottom: 10px;
  padding-top: 10px;
  align-items: center;
  margin: 0;
}

.pokemon-containerRS img {
  margin: 0;
  height: 50px;
  width: 50px;
  padding: 20px;
}
.pokemon-sprite {
  margin: 0;
  height: auto;
  width: auto;
}


.articlecard {
  width: 70vh;
  max-width: 1000px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column; /* Ensure children stack vertically */
  align-items: center; /* Center items horizontally */
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow */
  border: 2px solid transparent; /* Set initial border */
  background-clip: padding-box; /* Clip background to padding box */
  margin-left: 40px;
  margin-right: 40px;
}


.pokebox {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  min-height: 581px;
  overflow: auto;
}

.boxtop {
  background-color: #ffc107;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 5px solid rgb(47, 189, 237);
  border-bottom: 5px solid rgb(47, 189, 237);
  border-left: 3px solid rgb(47, 189, 237);
  border-right: 3px solid rgb(47, 189, 237);
  font-size: 22px;
  margin-top: 25px;
}

.boxtop span {
  font-size: 22px;
  color: #333; /* Example color */
}

.tracker p {
  font-size: 22px;
  color: #333; /* Example color */
  margin-top: 0px;
  margin-left: 30px;
  margin-right: 30px;
}


#color-selector {
  margin-top: 0px;
  font-size: 22px;
}


.staff-member {
  display: flex;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  max-width: 800px;

}

.staff-image {
  width: 200px; /* Adjust as needed */
  height: 250px;
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow */
  border: 2px solid transparent; /* Set initial border */
  margin: 10px;
}

h3 {
  margin-left: 150px;
  margin-right: 150px;
}

.staff-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Add box shadow */
  border: 2px solid transparent; /* Set initial border */
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  margin-bottom: 50px;
  ;
}

.center-aligned {
  text-align: right;
}

.elite-member {
  display: none;
  width: 25%;
  background-position: center; /* Center the background image */
  background-size: cover;
  opacity: 0.2;
}

.elite-member-1 {
  background-image: url(./assets/lorelei.png);
  animation: spin 3s linear;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  opacity: 1;
}

.elite-member-2 {
  background-image: url(./assets/bruno2.png);
  background-color: rgba(255, 255, 255, 0.3); /* Set the background color with 0.3 opacity */
}

.elite-member-3 {
  background-image: url(./assets/agatha.png);
  background-color: rgba(255, 255, 255, 0.3); /* Set the background color with 0.3 opacity */
}

.elite-member-4 {
  background-image: url(./assets/lance.png);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3); /* Set the background color with 0.3 opacity */
}



.staff-description p {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.staff-details .staff-description p {
  margin: 0;
  color: rgb(33, 23, 23);
}

.staff-info {
  margin-bottom: 10px;
  justify-content: center;
  text-align: center;
}

.staff-info p {
  margin: 2px;
  padding: 0;
  font-size: 17px;
  justify-content: center;
}

.staff-name {
  font-family: "Your Desired Name Font", sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.staff-role {
  font-family: "Your Desired Role Font", sans-serif;
  font-style: italic;
}

.staff-hometown {
  font-family: "Your Desired Hometown Font", sans-serif;
  color: #3366cc;
}

.staff-favorite {
  font-family: "Your Desired Favorite Font", sans-serif;
}

.staff-member .staff-name {
  font-size: 25px;
  font-family: calibri;
}

.staff-member .staff-role {
  margin-bottom: 20px;
  margin-top: 4px;
  font-size: 19px;
}

.article-title {
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 50px;
}


.quiz-container {
  background-color: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  width: 400px;
  font-family: calibri;
  border: 2px solid rgb(47, 189, 237);
  display: flex;
  flex-direction: column; /* Ensure restart button is below other content */
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content horizontally */
}

#question-container {
  background-color: none;
  border-radius: 10px;
  text-align: center;
  font-family: calibri;
}

#question {
  margin-top: -20px;
  margin-bottom: 20px;
  font-family: calibri;
}

#result {
  margin-left: -30px;
  margin-right: -30px;

}

#result p {
  text-align: center;
  font-size: 17px;
}

#result h2 {
  text-align: center;
  padding: 30px;
}

#options {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
  gap: 10px; /* Gap between grid items */
  justify-content: center;
  font-family: calibri;
  margin-bottom: 15px;
  margin-top: 25px;
}

button {
  margin-top: 10px;
  padding: 8px 20px;
  font-size: 16px;
  background-color: gold;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.option-btn {
  margin: 10px;
  padding: 15px 35px !important;
  font-size: 17px !important;
  font-style: bolder !important;;
  background-color: rgb(47, 189, 237);
  color: rgb(255, 255, 255) !important;
  border: none !important;
  border-radius: 10px !important;
  cursor: pointer !important;
  transition: background-color 0.3s ease; /* Added transition for smooth effect */
  /* Button styles */
}

.option-btn:hover {
  background-color: #088cb8 /* Change color on hover */
}

#next-level-btn {
  margin-bottom: 10px;
}

@keyframes blink-red {
  0% {
    background-color: #ff0000;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    background-color: #f31515;
  }
}

@keyframes blink-green {
  0% {
    background-color: #00f000; /* Light green */
  }
  50% {
    opacity: 0.5; /* Medium green */
  }
  100% {
    background-color: #0af602; /* Dark green */
  }
}

.blink-red {
  animation: blink-red 3s linear infinite;
}

.blink-green {
  animation: blink-green 3s linear infinite;
}

@media only screen and (max-width: 768px) {
  /* Adjust layout for smaller screens */
.article-imagetop {
  display: none;
}

.wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.pokemon-sprite {
  width: 50px;
}

.quiz-container {
  height: 400px;
}

.articlequiz4 .article-image,
.articlequiz4 .article-image2,
.articlequiz4 .article-image3,
.articlequiz4 .article-image4 {
  float: none; /* Remove the float property */
  margin: 0; /* Reset the margin */
  padding: 0; /* Reset the padding */
}

img {
  width: 100%;
  float: none; /* Remove the float property */
  margin: none;
  padding: none;
}

h3 {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}


.container .pokebox .pokemon-container .pokemon-containerRS .articlequiz4 .articlequiz3 .pokebox .boxtop .bottom {
  width: 50vh;
  display: flex;
  margin: 10px; /* Center the container horizontally */
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.staff-details {
  display: flex;
  flex-direction: column;
}

.bottom {
  display: flex;
  flex-direction: column;
}

.container p {
margin: 10px;

}

.articlecard {
  margin: 10px;
}

.staff-details p {
  margin-left: -25px;
  margin-right: -25px;
  padding: 0;
}

.articlequiz4 p {
  max-width: 30vh;
  text-align: center;
}

.headline {
  display: flex;
  justify-content: center;
}


.articlequiz4 h2 {
  max-width: 35vh;
  text-align: center;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

}





.wrapper {
  display: flex;
  width: auto;
  height: auto;
  justify-content: space-between;
}

.certwrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
  justify-content: center;
  text-align: center;
  border: 3px solid rgba(0, 0, 0, 0.1); /* Barely visible border */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Drop shadow */
  overflow: hidden; /* Add this line to hide overflowing content */
}

.badges {
  display: inline-block;
}

.certwrapper p {
  color:#090630 !important;
  padding-left: 100px !important;
  padding-right: 100px !important;
}

.signatures {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.signatures p {
  margin: 0; /* Reset margin for paragraphs */
}

@media print {
  /* Hide the date, time, and title */
  @page {
      size: auto;  /* Set the size of the printed page */
      margin: 0;   /* Remove any margins */
  }

  /* Center the content */
  body {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      padding: 0;
      margin: 0;
  }

  /* Hide elements you don't want to print */
  header, /* Assuming the header contains the title */
  .date-time { /* Assuming .date-time is the class of the element displaying date and time */
      display: none;
  }

  /* Ensure the content covers the full page */
  .certwrapper {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .certwrapper p {
    font-family: calibri;
}

.certwrapper h2 {
  font-family: calibri;
}
}

.fade-out {
  opacity: 0;
  transition: opacity 2s;
}


.left-square {
  background-color: rgb(233, 233, 233);
  color: rgb(173, 173, 173);
  margin-bottom: 5px;
  height: 45px;
  width: 150px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */

}

.right-square {
  background-color: rgb(233, 233, 233);
  color: rgb(173, 173, 173);
  margin-bottom: 5px;
  height: 45px;
  width: 150px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
}

.quiz-container {
  grid-column: 3 / span 2; /* Center the quiz container in the grid */
  margin: 20px;
}

.articlequiz {
  color: rgb(6, 6, 13);
  border-left: 4px solid rgb(47, 189, 237);
  border-right: 4px solid rgb(47, 189, 237);
  font-family: calibri;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(47, 189, 237);
  padding-bottom: 100px;
}

.articlequiz2 {
  color: rgb(6, 6, 13);
  border-left: 4px solid rgb(47, 189, 237);
  border-right: 4px solid rgb(47, 189, 237);
  font-family: calibri;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(47, 189, 237);
  padding-bottom: 100px;

}

.articlequiz2 p {
  color: rgb(6, 6, 13);
  font-family: calibri;
  padding-left: 100px;
  padding-right: 100px;
  text-align: left;
  font-size: 20px;
}

.articlequiz3 {
  color: rgb(6, 6, 13);
  border-left: 4px solid rgb(47, 189, 237);
  border-right: 4px solid rgb(47, 189, 237);
  font-family: calibri;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(47, 189, 237);
  padding-bottom: 200px;
  max-width: 1200px;
}

.articlequiz3 p {
  color: rgb(6, 6, 13);
  font-family: calibri;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  font-size: 20px;
}

.articlequiz3 a {
  color: #007bff; /* Set the color of the links */
  text-decoration: none; /* Remove the underline */
}

.articlequiz4 {
  color: rgb(6, 6, 13);
  border-left: 4px solid rgb(47, 189, 237);
  border-right: 4px solid rgb(47, 189, 237);
  font-family: calibri;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(47, 189, 237);
}

.articlequiz4 p {
  color: rgb(6, 6, 13);
  font-family: calibri;
  padding-left: 50px;
  padding-right: 50px;
  text-align: left;
  font-size: 20px;
}


.rstaff {
  width: 70%;
}


.champion {
  background-color: rgb(224, 224, 224);
  background-image: url(./assets/champion.png);
  opacity: 0;
}



.elite-member-defeated::after {
  content: 'X';
  color: red;
  position: relative;
  font-size: 25em;
  top: 50%;
  left: 50%;
  height: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#proceedToEliteButton {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.proceed-button:hover {
  background-color: #45a049;
}

.proceed-button:active {
  background-color: #3e8e41;
}

.left-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;

}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;

}

.option-btn.deactivated {
  background-color: #ccc; /* Change to your desired style for deactivated options */
}

.bottom {
  background-color: rgb(236, 235, 235);
  display: flex;
  flex-direction: row;
  width: 96%;
  height: 30px;
  border-radius: 10px;
  margin-top: 15px;
}

.pallet-town {
  background-color: #75a873;
  color: white;
  font-weight: bold;
}

.viridian-city {
  background-color: #0c8008;
  color: white;
  font-weight: bold;
}

.viridian-forest {
  background-color: #40613f;
  color: white;
  font-weight: bold;
}

.pewter {
  background-color: #666866;
  color: white;
  font-weight: bold;
}

.mt-moon {
  background-color: #49789b;
  color: white;
  font-weight: bold;
}

.nugget-bridge {
  background-color: #50b0fa;
  color: white;
  font-weight: bold;
}

.bill-house {
  background-color: #58caed;
  color: white;
  font-weight: bold;
}

.cerulean {
  background-color: #16e4ff;
  color: white;
  font-weight: bold;
}

.route56 {
  background-color: #dff385;
  color: white;
  font-weight: bold;
}

.route11 {
  background-color: #e8cb11;
  color: white;
  font-weight: bold;
}

.ss-anne {
  background-color: #ffb32f;
  color: white;
  font-weight: bold;
}

.vermilion {
  background-color: #ff550c;;
  color: white;
  font-weight: bold;
}

.rock-tunnel {
  background-color: #5e5111;
  color: white;
  font-weight: bold;
}

.power-plant {
  background-color: #e5cd2e;
  color: white;
  font-weight: bold;
}

.route8 {
  background-color: #b5e019;
  color: white;
  font-weight: bold;
}

.celadon {
  background-color: #82fb25;
  color: white;
  font-weight: bold;
}

.rocket {
  background-color: #2d014c;
  color: white;
  font-weight: bold;
}

.lavender {
  background-color: #9765a4;
  color: white;
  font-weight: bold;
}

.dojo {
  background-color: #ca88ca;
  color: white;
  font-weight: bold;
}

.saffron {
  background-color: #9e28ff;
  color: white;
  font-weight: bold;
}

.bike-path {
  background-color: #cf9aaf;
  color: white;
  font-weight: bold;
}

.route1213 {
  background-color: #d5779d;
  color: white;
  font-weight: bold;
}

.safari {
  background-color: #ff98ea;
  color: white;
  font-weight: bold;
}

.fuchsia {
  background-color: #ff4d94;
  color: white;
  font-weight: bold;
}

.route1920 {
  background-color: #71c59b;
  color: white;
  font-weight: bold;
}

.seafoam {
  background-color: #68ffe8;
  color: white;
  font-weight: bold;
}

.mansion {
  background-color: #f18d66;
  color: white;
  font-weight: bold;
}

.cinnabar {
  background-color: #d10a0a;
  color: white;
  font-weight: bold;
}

.sevii {
  background-color: #91c01a;
  color: white;
  font-weight: bold;
}

.berry {
  background-color: #318939;
  color: white;
  font-weight: bold;
}

.kindle-road {
  background-color: #aee300;
  color: white;
  font-weight: bold;
}

.viridian2 {
  background-color: #25d10a;
  color: white;
  font-weight: bold;
}

.merged {
  animation: spin 4s linear forwards; /* 'forwards' ensures the animation remains at its final state */
  background-image: linear-gradient(to bottom, #345d47, #535c35, #3e4140);
  color: white;
  }

.merged2 {
  animation: spin 4s linear forwards; /* 'forwards' ensures the animation remains at its final state */
  background-image: linear-gradient(to bottom, #6adff9, #4aa0d6, #204d71);
  color: white;
  font-weight: bold;
  }

.merged3 {
  animation: spin 4s linear forwards; /* 'forwards' ensures the animation remains at its final state */
  background-image: linear-gradient(to bottom, #ff6a00, #f6b502, #edfca2);;
  color: white;
  font-weight: bold;
  }

.merged4 {
  animation: spin 4s linear forwards; /* 'forwards' ensures the animation remains at its final state */
  background-image: linear-gradient(to bottom, #8eff81, #28ea01, #c3d500);
  color: white;
  font-weight: bold;
  }

.merged5 {
  animation: spin 4s linear forwards; /* 'forwards' ensures the animation remains at its final state */
  background-image: linear-gradient(to bottom, #7c128a, #674c66, #3c0943);
  color: white;
  font-weight: bold;
  }

.merged6 {
  animation: spin 4s linear forwards; /* 'forwards' ensures the animation remains at its final state */
  background-image: linear-gradient(to bottom, #d59edc, #ee34c3, #dc8de0);
  color: white;
  font-weight: bold;
  }

.merged7 {
  animation: spin 4s linear forwards; /* 'forwards' ensures the animation remains at its final state */
  background-image: linear-gradient(to bottom, #ff0000, #eb9f11, #6ae8e6);
  color: white;
  font-weight: bold;
  }

.merged8 {
  animation: spin 4s linear forwards; /* 'forwards' ensures the animation remains at its final state */
  background-image: linear-gradient(to bottom, #15422a, #91ce82, #008404);
  color: white;
  font-weight: bold;
  }

@keyframes spin {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(360deg); }
  0% { opacity: 0; } /* Start with fully transparent */
  100% { opacity: 1; } /* End with fully opaque */
}


.background-transition {
  transition: background 3s ease;
}

.reveal-background {
  background-image: url(./assets/gym1.png); /* Adjust the path to your image */
  background-size: cover;
  opacity: 0,3;

}

.reveal-background2 {
  background-image: url(./assets/gym2.png); /* Adjust the path to your image */
  background-size: cover;
  opacity: 0,3;

}

.reveal-background3 {
  background-image: url(./assets/gym3.png); /* Adjust the path to your image */
  background-size: cover;
  opacity: 0,3;

}

.reveal-background4 {
  background-image: url(./assets/gym4.png); /* Adjust the path to your image */
  background-size: cover;
  opacity: 0,3;

}

.reveal-background5 {
  background-image: url(./assets/gym5.png); /* Adjust the path to your image */
  background-size: cover;
  opacity: 0,3;

}

.reveal-background6 {
  background-image: url(./assets/gym6.png); /* Adjust the path to your image */
  background-size: cover;
  opacity: 0,3;

}

.reveal-background7 {
  background-image: url(./assets/gym7.png); /* Adjust the path to your image */
  background-size: cover;
  opacity: 0,3;

}

.reveal-background8 {
  background-image: url(./assets/gym8.png); /* Adjust the path to your image */
  background-size: cover;
  opacity: 0,3;

}

.reveal-background p {
  font-size: 18px;
}


::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}


.gradient-link {
  color: inherit; /* Use the default text color */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s ease; /* Smooth transition effect */
}

.gradient-link:hover {
  color: transparent; /* Make the text transparent */
  background-image: linear-gradient(135deg, #51b704, #6abe0a, #fc1111); /* Blue to green gradient */
  -webkit-background-clip: text; /* Clip the background to the text */
  background-clip: text;
}
